body{
    font-family:cursive;
}
h1{
   text-align: center;
    font-family: cursive;
    color: forestgreen;
    margin: 30px 0 50px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.gallery{
    margin: 30px 50px;
    
}
.gallery img{
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
/*------------Promo--------*/
#promo
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/RO.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: inherit;
    font-size: 38px;
}
#contact
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
    color: #999 !important;
}
.follow
{
    background: #fff;
      padding: 10px;
      margin: 15px;
}